<sql-table  
    [sql]="'select * from sql_component order by component_id'">
    
    <th #column id="component_id" style="max-width: 200px;" [hidden]="true" >ID</th>
    <th #column id="component_name" [hidden]="true" >Name</th>
    <th #column id="component_type" [hidden]="true" >Type</th>
    <th #column id="uses_observable" style="max-width: 100px;" [hidden]="true" >Observable</th>
    <button class="btn btn-primary" #column [hidden]="true" ><i class="bi bi-zoom-in"></i></button> 

    <sql-form
     [table]="'sql_component'"
     [card]="'Y'"
     [title]="'Add SQL Component'"
     [bs_col]="'col-12'">

     <div class="row">
<div class="col-4">
    <sql-datepicker
    [col]="'create_timestamp'"
    [label]="'Create Date:'">

 </sql-datepicker>
</div>
<div class="col-4">
    <sql-input 
    [col]="'component_id'"
    [label]="'Component'"
    [style]="'width:200px'">
</sql-input>
</div>
    <div class="col-4">
        <sql-input 
        [col]="'component_name'"
        [label]="'Component Name'"
        [style]="'width:400px'">
        </sql-input>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <sql-select 
        [col]="'component_type'"
        [sql]="'select component_type, title from sql_component_type order by title'"
        [label]="'Component Type'">
        </sql-select>
    </div>
    <div class="col-4">
        <sql-radio-group 
        [col]="'uses_observable'"
        [sql]="'select value, title from sql_yn'"
        [label]="'Uses Observable'"></sql-radio-group>
    </div>
    <div class="col-4">
        <sql-textarea 
        [col]="'description'"
        [label]="'Description'"
        [style]="'width:300px;'"></sql-textarea>
    </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <sql-submit
            [label]="'Save Record'"
            [class]="'btn btn-primary'"></sql-submit>
        </div>
    </div>
</sql-form>
</sql-table>